$box-shadow-normal: 0px 6px 20px rgba(0, 0, 0, 0.25);
$box-shadow-none: none;

.custom-box-shadows {
    
    &-none {
        box-shadow: $box-shadow-none !important;
    }

    &-normal {
        box-shadow: $box-shadow-normal !important;
    }

}