@import 'sizing', 'colors', 'borders';

.button {

    &-primary {
        background-color: $color-primary !important;
        border: $sizing-2 solid $color-white !important;
        border-radius: $sizing-9 !important;
        padding: $sizing-1 !important;
        box-shadow: $box-shadow-normal;
        color: $color-white !important;

        &-outline {
            background-color: $color-default-background !important;
            color: $color-white !important;
        }

    }

    &-secondary {
        background-color: $color-secondary !important;
        border: $sizing-2 solid $color-white !important;
        border-radius: $sizing-9 !important;
        padding: $sizing-1 !important;
        box-shadow: $box-shadow-normal;
        color: $color-white !important;
    }

    &-tertiary {
        background-color: $color-tertiary !important;
        border: $sizing-2 solid $color-white !important;
        border-radius: $sizing-9 !important;
        padding: $sizing-1 !important;
        box-shadow: $box-shadow-normal;
        color: $color-white !important;
    }

    &-quaternary {
        background-color: $color-quaternary !important;
        border: $sizing-2 solid $color-white !important;
        border-radius: $sizing-9 !important;
        padding: $sizing-1 !important;
        box-shadow: $box-shadow-normal;
        color: $color-white !important;
    }

}
