@import 'sizing', 'colors';

$default-font-family: 'Roboto', sans-serif;
$default-fun-font-family: 'Fredoka One', cursive;

$font-size-1: $sizing-1;
$font-size-2: $sizing-2;
$font-size-3: $sizing-3;
$font-size-4: $sizing-4;
$font-size-5: $sizing-5;
$font-size-6: $sizing-6;
$font-size-7: $sizing-7;
$font-size-8: $sizing-8;
$font-size-9: $sizing-9;
$font-size-10: $sizing-10;
$font-size-11: $sizing-11;
$font-size-12: $sizing-12;
$font-size-13: $sizing-13;
$font-size-14: $sizing-14;
$font-size-15: $sizing-15;
$font-size-16: $sizing-16;

$font-size-small-1: $sizing-small-1;
$font-size-small-2: $sizing-small-2;
$font-size-small-3: $sizing-small-3;
$font-size-small-4: $sizing-small-4;
$font-size-small-5: $sizing-small-5;
$font-size-small-6: $sizing-small-6;
$font-size-small-7: $sizing-small-7;
$font-size-small-8: $sizing-small-8;
$font-size-small-9: $sizing-small-9;
$font-size-small-10: $sizing-small-10;
$font-size-small-11: $sizing-small-11;
$font-size-small-12: $sizing-small-12;
$font-size-small-13: $sizing-small-13;
$font-size-small-14: $sizing-small-14;
$font-size-small-15: $sizing-small-15;
$font-size-small-16: $sizing-small-16;

.font-family {

    &-default {
        font-family: $default-fun-font-family;
    }

    &-serious {
        font-family: $default-font-family;
    }

}

.font-size {

    &-1 {
        font-size: $font-size-1;
    }

    &-2 {
        font-size: $font-size-2;
    }

    &-3 {
        font-size: $font-size-3;
    }

    &-4 {
        font-size: $font-size-4;
    }

    &-5 {
        font-size: $font-size-5;
    }

    &-6 {
        font-size: $font-size-6;
    }

    &-7 {
        font-size: $font-size-7;
    }

    &-8 {
        font-size: $font-size-8;
    }

    &-9 {
        font-size: $font-size-9;
    }

    &-10 {
        font-size: $font-size-10;
    }

    &-11 {
        font-size: $font-size-11;
    }

    &-12 {
        font-size: $font-size-12;
    }

    &-13 {
        font-size: $font-size-13;
    }

    &-14 {
        font-size: $font-size-14;
    }

    &-15 {
        font-size: $font-size-15;
    }

    &-16 {
        font-size: $font-size-16;
    }

}

.custom-text {

    &-stroke {

        &-primary {

            &-0 {
                -webkit-text-stroke: .01rem $color-primary !important;
            }

            &-1 {
                -webkit-text-stroke: .02rem $color-primary !important;
            }

            &-2 {
                -webkit-text-stroke: .03rem $color-primary !important;
            }

            &-3 {
                -webkit-text-stroke: .04rem $color-primary !important;
            }

            &-4 {
                -webkit-text-stroke: .05rem $color-primary !important;
            }
            
            &-5 {
                -webkit-text-stroke: .06rem $color-primary !important;
            }

            &-6 {
                -webkit-text-stroke: .07rem $color-primary !important;
            }

            &-7 {
                -webkit-text-stroke: .08rem $color-primary !important;
            }

            &-8 {
                -webkit-text-stroke: .09rem $color-primary !important;
            }

            &-9 {
                -webkit-text-stroke: .1rem $color-primary !important;
            }

            &-10 {
                -webkit-text-stroke: .11rem $color-primary !important;
            }

            &-11 {
                -webkit-text-stroke: .12rem $color-primary !important;
            }

            &-12 {
                -webkit-text-stroke: .13rem $color-primary !important;
            }

            &-13 {
                -webkit-text-stroke: .14rem $color-primary !important;
            }

            &-14 {
                -webkit-text-stroke: .15rem $color-primary !important;
            }

            &-15 {
                -webkit-text-stroke: .16rem $color-primary !important;
            }

            &-16 {
                -webkit-text-stroke: .17rem $color-primary !important;
            }

            &-17 {
                -webkit-text-stroke: .18rem $color-primary !important;
            }

            &-18 {
                -webkit-text-stroke: .19rem $color-primary !important;
            }

            &-19 {
                -webkit-text-stroke: .20rem $color-primary !important;
            }

        }

        &-secondary {

            &-0 {
                -webkit-text-stroke: .01rem $color-secondary !important;
            }

            &-1 {
                -webkit-text-stroke: .02rem $color-secondary !important;
            }

            &-2 {
                -webkit-text-stroke: .03rem $color-secondary !important;
            }

            &-3 {
                -webkit-text-stroke: .04rem $color-secondary !important;
            }

            &-4 {
                -webkit-text-stroke: .05rem $color-secondary !important;
            }
            
            &-5 {
                -webkit-text-stroke: .06rem $color-secondary !important;
            }

            &-6 {
                -webkit-text-stroke: .07rem $color-secondary !important;
            }

            &-7 {
                -webkit-text-stroke: .08rem $color-secondary !important;
            }

            &-8 {
                -webkit-text-stroke: .09rem $color-secondary !important;
            }

            &-9 {
                -webkit-text-stroke: .1rem $color-secondary !important;
            }

            &-10 {
                -webkit-text-stroke: .11rem $color-secondary !important;
            }

            &-11 {
                -webkit-text-stroke: .12rem $color-secondary !important;
            }

            &-12 {
                -webkit-text-stroke: .13rem $color-secondary !important;
            }

            &-13 {
                -webkit-text-stroke: .14rem $color-secondary !important;
            }

            &-14 {
                -webkit-text-stroke: .15rem $color-secondary !important;
            }

            &-15 {
                -webkit-text-stroke: .16rem $color-secondary !important;
            }

            &-16 {
                -webkit-text-stroke: .17rem $color-secondary !important;
            }

            &-17 {
                -webkit-text-stroke: .18rem $color-secondary !important;
            }

            &-18 {
                -webkit-text-stroke: .19rem $color-secondary !important;
            }

            &-19 {
                -webkit-text-stroke: .20rem $color-secondary !important;
            }

        }

        &-tertiary {

            &-0 {
                -webkit-text-stroke: .01rem $color-tertiary !important;
            }

            &-1 {
                -webkit-text-stroke: .02rem $color-tertiary !important;
            }

            &-2 {
                -webkit-text-stroke: .03rem $color-tertiary !important;
            }

            &-3 {
                -webkit-text-stroke: .04rem $color-tertiary !important;
            }

            &-4 {
                -webkit-text-stroke: .05rem $color-tertiary !important;
            }
            
            &-5 {
                -webkit-text-stroke: .06rem $color-tertiary !important;
            }

            &-6 {
                -webkit-text-stroke: .07rem $color-tertiary !important;
            }

            &-7 {
                -webkit-text-stroke: .08rem $color-tertiary !important;
            }

            &-8 {
                -webkit-text-stroke: .09rem $color-tertiary !important;
            }

            &-9 {
                -webkit-text-stroke: .1rem $color-tertiary !important;
            }

            &-10 {
                -webkit-text-stroke: .11rem $color-tertiary !important;
            }

            &-11 {
                -webkit-text-stroke: .12rem $color-tertiary !important;
            }

            &-12 {
                -webkit-text-stroke: .13rem $color-tertiary !important;
            }

            &-13 {
                -webkit-text-stroke: .14rem $color-tertiary !important;
            }

            &-14 {
                -webkit-text-stroke: .15rem $color-tertiary !important;
            }

            &-15 {
                -webkit-text-stroke: .16rem $color-tertiary !important;
            }

            &-16 {
                -webkit-text-stroke: .17rem $color-tertiary !important;
            }

            &-17 {
                -webkit-text-stroke: .18rem $color-tertiary !important;
            }

            &-18 {
                -webkit-text-stroke: .19rem $color-tertiary !important;
            }

            &-19 {
                -webkit-text-stroke: .20rem $color-tertiary !important;
            }
            

        }

    }

    &-letter {

        &-spacing {

            &-negative {

                &-0 {
                    letter-spacing: -.01rem !important;
                }

                &-1 {
                    letter-spacing: -.02rem !important;
                }

                &-2 {
                    letter-spacing: -.03rem !important;
                }

                &-3 {
                    letter-spacing: -.04rem !important;
                }

                &-4 {
                    letter-spacing: -.05rem !important;
                }

                &-5 {
                    letter-spacing: -.06rem !important;
                }

                &-6 {
                    letter-spacing: -.07rem !important;
                }

                &-7 {
                    letter-spacing: -.08rem !important;
                }

                &-8 {
                    letter-spacing: -.09rem !important;
                }

                &-9 {
                    letter-spacing: -.1rem !important;
                }

                &-10 {
                    letter-spacing: -.11rem !important;
                }

                &-11 {
                    letter-spacing: -.12rem !important;
                }

                &-12 {
                    letter-spacing: -.13rem !important;
                }

                &-13 {
                    letter-spacing: -.14rem !important;
                }

                &-14 {
                    letter-spacing: -.15rem !important;
                }

                &-15 {
                    letter-spacing: -.16rem !important;
                }

                &-16 {
                    letter-spacing: -.17rem !important;
                }

                &-17 {
                    letter-spacing: -.18rem !important;
                }

                &-18 {
                    letter-spacing: -.19rem !important;
                }

                &-19 {
                    letter-spacing: -.20rem !important;
                }

            }

            &-0 {
                letter-spacing: 0.01rem !important;
            }

            &-1 {
                letter-spacing: 0.02rem !important;
            }

            &-2 {
                letter-spacing: 0.03rem !important;
            }

            &-3 {
                letter-spacing: 0.04rem !important;
            }

            &-4 {
                letter-spacing: 0.05rem !important;
            }

            &-5 {
                letter-spacing: 0.06rem !important;
            }

            &-6 {
                letter-spacing: 0.07rem !important;
            }

            &-7 {
                letter-spacing: 0.08rem !important;
            }

            &-8 {
                letter-spacing: 0.09rem !important;
            }

            &-9 {
                letter-spacing: 0.1rem !important;
            }

            &-10 {
                letter-spacing: 0.11rem !important;
            }

            &-11 {
                letter-spacing: 0.12rem !important;
            }

            &-12 {
                letter-spacing: 0.13rem !important;
            }

            &-13 {
                letter-spacing: 0.14rem !important;
            }

            &-14 {
                letter-spacing: 0.15rem !important;
            }

            &-15 {
                letter-spacing: 0.16rem !important;
            }

            &-16 {
                letter-spacing: 0.17rem !important;
            }

            &-17 {
                letter-spacing: 0.18rem !important;
            }

            &-18 {
                letter-spacing: 0.19rem !important;
            }

            &-19 {
                letter-spacing: 0.20rem !important;
            }

        }

    }

}

