@import 'sizing', 'colors';

.membership-card {

    &-container {
        background-color: $color-white !important;
        border: none !important;
        border-radius: 1rem !important;
    }

    &-title {
        font-size: .75rem !important;
    }

    &-price {
        font-size: 2.5rem !important;
        width: auto !important;
    }

    &-trial {
        background-color: #EFFBF5 !important;
        padding: .5rem .75rem !important;
    }

    &-border {
        border-bottom: 3px solid #faf8e9 !important;
    }

    &-button {
        width: 10rem !important;
        box-shadow: none !important;
    }

}
