@font-face {
  font-family: 'Fredoka One';
  src: url(../assets/fonts/FredokaOne-Regular.ttf) format("truetype");
  font-weight:400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight:500;
}
