@import '../../styles/colors.scss';
$darkBlue: #194e71;

.strokeText {
  position: relative;
  font-size: 25px;
  font-weight: 500;
  line-height: 120%;
  color: $darkBlue;
  -webkit-text-stroke: 5px $darkBlue;
  &:before {
    content: attr(data-before);
    position: absolute;
    top: 0;
    line-height: 120%;
    font-size: 25px;
    font-weight: 400;
    color: $white;
    -webkit-text-stroke: 0 transparent;
  }
  &:hover:before {
    color: $lightGreen;
  }
}

.strokeTextActive:before {
  color: $lightGreen;
}
