@import '../../styles/mixins.scss';

$blue: #1575D5;

.header {
  width: 100%;
  height: auto;
  background-color: $blue;
  background-image: url(../../assets/icons/backGround.svg);
  background-repeat: no-repeat;
  background-size: 200%;
  @include breakpoint(tablet) {
    background-size: 150%;
  }
}

.headerSticky {
  position: sticky;
  top: 0px;
  z-index: 200;
}

.headerHigh {
  height: 160px;
  align-items: flex-start;
  @include breakpoint(tablet) {
    height: 264px;
  }
  @include breakpoint(desktop) {
    height: 272px;
  }
}

.headerContentWrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  display: flex;
}

.navList {
  display: none;
  margin-left: -20px;
  @include breakpoint(tablet) {
    display: flex;
  }
}

.navListItem {
  list-style-type: none;
  margin-left: 20px;
}

.navListItemLink {
  text-decoration: none;
}
