@import
'../../../styles/colors.scss';

.arrow {
  width: 62px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 0px;
  padding: 25px;
  border-radius: 20px 0 0 20px;
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  svg {
    width: 12px;
    height: 24px;
    path {
      stroke: var(--color);
    }
  }
}

.left {
  left: 0px;
  border-radius: 0 20px 20px 0;
}