@import
'../../styles/colors.scss', 
'../../styles/mixins.scss';

.carouselTitle {
  color: $darkBlue;
  font-size: 20px;
  padding: 0 20px;
  line-height: 120%;
  @include breakpoint(tablet) { 
    font-size: 25px;
  }
}

div.carouselContainerClass {
  margin-top: 24px;
  display: flex;
}

.carouselItemPadding {
  margin-left: 18px;
  padding: 12px 0;
  overflow: visible;
  width: auto !important;
  @include breakpoint(tablet) { 
    margin-left: 36px;
  }
}
