@import
'../../styles/mixins.scss',
'../../styles/colors.scss';

.carouselContainerClass {
  margin-top: 24px;
  @include breakpoint(465px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.carouselItemPadding {
  padding: 10px;
}

.tabContentTitle {
  font-size: 25px;
  color: $blue;
  padding: 0 20px;
  margin-top: 35px;
  @include breakpoint(tablet) { 
    display: none;
    padding: 0 40px;
  }
}

.tabContentItem {
  margin-top: 32px;
  @include breakpoint(tablet) { 
    margin-top: 40px;
  }
}
