@import '../../styles/mixins.scss', '../../styles/colors.scss';
$green: #113F2C;


.footer {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 20px 20px 12px 20px;
  background-color: $lightGreen;
  @include breakpoint(tablet) {
    justify-content: flex-start;
    align-items: center;
    padding: 12px 20px 12px 20px;
  }
}

.footerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
    @include breakpoint(tablet) {
    justify-content: center;
    align-items: flex-start;
  }
}

.footerTerms {
  display: flex;
  margin-top: 62px;
  margin-left: -10px;
  list-style-type: none;
  @include breakpoint(tablet) {
    flex-direction: row;
    margin-top: 0px;
    margin-left: -20px;
  }
}

.socialsWrap {
  display: flex;
  justify-content: space-between;
  @include breakpoint(tablet) {
    margin-left: auto;
    margin-right: 0;
  }
}

.footerNavList {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  list-style-type: none;
  @include breakpoint(tablet) {
    margin-left: -20px;
    flex-direction: row;
  }
}

.footerNavItem {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  margin-top: 12px;
  @include breakpoint(tablet) {
    margin-top: 0;
    margin-left: 40px;
  }
}

.socials {
  display: flex;
  flex: 1;
}

.socialItem {
  list-style-type: none;
}

.socialsWrap {
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    align-self: flex-start;
  }
}

.subLogoWrapTablet {
  display: none;
  @include breakpoint(tablet) {
    display: flex;
  }
}

.subLogoWrap {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  @include breakpoint(tablet) {
    display: none;
  }
}

.footerTermsItem {
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  @include breakpoint(tablet) {
    margin-top: 20px;
    margin-left: 40px;
  }
}

.link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  text-transform: none;
  color: $green;
}

.socialItem {
  margin-left: 24px;
}

.socialItemLink {
  svg {
    width: 22px;
    height: 22px;
  }
}
