@import
'../../../../styles/mixins.scss',
'../../../../styles/colors.scss';

.ellipseRoot {
  width: 100%;
  height: 100px;
  margin-top: -20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include breakpoint(tablet) {
    margin-top: -60px;
  }
}

.ellipse {
  min-width: 300%;
  height: 500px;
  border-radius: 100%;
  background: $beige;
  @include breakpoint(tablet) {
    height: 2000px;
  }
}