@import
'../../../../styles/colors.scss',
'../../../../styles/mixins.scss';

$darkWhite: #F6F6F6;

.box {
  height: 190px;
  border-radius: 20px;
  padding: 12px;
  background: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  @include breakpoint(desktop) {
    height: 250px;
  }
}

.boxGray {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: $darkWhite;
}

.root {
  padding: 0 20px;
  margin-bottom: -170px;
  @include breakpoint(tablet) {
    margin-bottom: -180px;
    padding: 0 40px;
 }
  @include breakpoint(desktop) {
    margin-bottom: -190px;
  }
}

.firstSection {
  position: relative;
  bottom: 170px;
  @include breakpoint(tablet) {
   bottom: 180px;
  }
  @include breakpoint(desktop) {
    bottom: 190px;
  }

}

.firstSectionCarouselItemPadding {
  padding: 11px;
}

.firstSectionCarouselDotListClass {
  bottom: -12px;
  margin-left: -4px;
  button {
    margin-left: 4px;
  }
  @include breakpoint(tablet) {
    display: none;
  }
}