@import '../../../../styles/colors.scss';

.strokeText {
  position: relative;
  font-size: 25px;
  font-weight: 500;
  line-height: 120%;
  color: var(--color-stroke);
  -webkit-text-stroke: 5px var(--color-stroke);
  &:before {
    content: attr(data-before);
    position: absolute;
    top: 0;
    line-height: 120%;
    font-size: 25px;
    font-weight: 400;
    color: $white;
    -webkit-text-stroke: 0 transparent;
  }
}
